In [2]:
import pandas as pd

In [3]:
df_happiness = pd.read_csv('data/simulated_data.csv')

In [4]:
df_happiness.head()

,Date,Age_Group,Happiness_Level,Feedback
0,2022-01-07 13:24:19.459459459,41-50,2,Many I are are things with job. be I improved..
1,2022-11-27 11:29:00.540540540,41-50,1,Very with I very job. with job. I job. environ...
2,2022-03-06 11:49:11.351351352,41-50,1,Disorganized. disorganized. unhappy with work ...
3,2022-04-16 07:13:52.432432432,51-60,2,Improved. be things could improved. could that...
4,2022-01-28 07:51:21.081081081,41-50,1,I job. stressful I work environment stressful ...

In [10]:
# TODO: Daten in datetime umwandeln
# TODO: die Wochentage und Wochenzahl auslesen zum subsetten

unique_dates = pd.to_datetime(list(df_happiness.Date.unique())[::-1])
unique_dates.

DatetimeIndex(['2022-06-15 01:22:09.729729730',
               '2022-12-25 12:49:43.783783784',
               '2022-04-30 21:01:15.675675676',
               '2022-03-20 08:07:12.432432433',
               '2022-08-07 14:50:48.648648648',
               '2022-11-24 22:16:12.972972972',
               '2022-02-10 01:55:18.918918919',
               '2022-05-21 06:43:36.216216216',
               '2022-03-29 10:44:19.459459460',
               '2022-10-17 07:19:38.378378380',
               ...
               '2022-11-18 17:36:34.594594596',
               '2022-02-14 19:36:12.972972973',
               '2022-04-09 09:04:51.891891892',
               '2022-05-29 15:51:21.081081082',
               '2022-11-19 02:21:15.675675676',
               '2022-01-28 07:51:21.081081081',
               '2022-04-16 07:13:52.432432432',
               '2022-03-06 11:49:11.351351352',
               '2022-11-27 11:29:00.540540540',
               '2022-01-07 13:24:19.459459459'],
              dtype='datetime64[ns]', length=629, freq=None)